.card {
  background-color: #4f0073;
  color: white;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  color: #feedff;
}

.topo h2 {
  font-size: 1.1rem;
  font-weight: 600;
}

.urlCurta {
  color: #feedff;
  text-decoration: none;
  display: block;
}

.urlCurta:hover {
  text-decoration: underline;
}

.urlOriginal {
  color: #feedff;
  font-size: 0.9rem;
  margin-top: 0.25rem;
  word-break: break-all;
}

.rodape {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.data {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #ddd6fe;
  font-size: 0.85rem;
}

.botoes {
  display: flex;
  gap: 0.5rem;
}

.copiar {
  background-color: #6d28d9;
  border: none;
  color: white;
  border-radius: 0.5rem;
  padding: 0.4rem 0.8rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 0.85rem;
  cursor: pointer;
  transition: 0.2s;
}

.copiar:hover {
  background-color: #7e22ce;
}

.pencil:hover {
  background-color: #7e22ce;
}

.trash:hover {
  background-color: #7e22ce;
}

.botoes button {
  background: none;
  border: none;
  color: #ddd6fe;
  cursor: pointer;
  transition: 0.2s;
}

.botoes button:hover {
  color: white;
}

.a {
  text-decoration: none;
  color: rgb(239, 13, 13);
}

.titulo3 {
  color: #1e0039;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  text-align: center;
}

.input {
  width: 100%;
  padding: 0.75rem;
  margin: 0.5rem 0;
  border: 2px solid #4b0082;
  background-color: #feedff;
  border-radius: 8px;
  font-size: 1rem;
}

.button {
  background-color: #6b21a8;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  margin-top: 1rem;
  margin-left: auto;
}

.button:hover {
  background-color: #5e0e7a;
  cursor: pointer;
}
